.circlePhoto {
  height: auto;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.anonymous {
  font-family: "Anonymous Pro";
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}

.short {
  width: 75%;
}
